@import 'fonts';
@import 'variables';


*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Jost', sans-serif !important;
  box-sizing: border-box;
  color: #3a4d63;
}

.btn-primary {
  background-color: $front-primary-color;
  border-color: $front-primary-color;

  &:hover{
    background-color: darken($color: $front-primary-color, $amount: 5);
    border-color: darken($color: $front-primary-color, $amount: 5);
  }
}

.profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #6c757d;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.croppedImage {
  width: 360px;
  height: 360px;
}

.croppedImage2 {
  width: 320px;
  height: 160px;
}

.croppedImage3 {
  width: 700px;
}

td {
  vertical-align: middle;
}

a {
  outline: none !important;
  vertical-align: baseline;
  text-decoration: none;
  color: #3a4d63;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $front-primary-color;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  line-height: 1.25;
}

.section-title {
  margin: 40px 0px 0px 0px;
  text-align: center;
}

.title {
  position: absolute;
  content: '';
  width: 80%;
  height: 10px;
  border-radius: 5px;
  left: 0;
  top: 3.125rem;
  opacity: 0.6;
  z-index: -1;
  background: -webkit-linear-gradient(left, rgba(54, 242, 227, 1) 0%, rgba(249, 249, 249, 0) 100%);
  background: -o-linear-gradient(left, rgba(54, 242, 227, 1) 0%, rgba(249, 249, 249, 0) 100%);
  background: linear-gradient(to right, rgba(54, 242, 227, 1) 0%, rgba(249, 249, 249, 0) 100%);
}

h2.title-with-line:before {
  top: 2.4375rem;
}

.title-with-line:before,
.title-with-line.mad-one-line span:before {
  position: absolute;
  content: "";
  width: 80%;
  height: 20px;
  border-radius: 5px;
  left: 0;
  top: 25px;
  opacity: .6;
  z-index: -1;
  background: linear-gradient(to right, $front-tertiary-color 0%, rgba(249, 249, 249, 0) 100%);
  margin-left: -10px;
}

.title-with-line {
  position: relative;
  display: inline;
  z-index: 1;
}

.btn-inscricao {
  text-align: center;
  background-color: $front-tertiary-color;
  border-radius: 10px;
  padding: 5px 20px;
  font-weight: 500;

  &:hover {
    background-color: $front-primary-color;
  }
}

.error-msg {
  color: red;
}

.success-msg {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  // border: solid 1px $front-primary-color;
  border-radius: 20px;

  .ico {
    font-size: 50px;
    color: $front-primary-color;
  }
}

.form-label {
  margin-bottom: 0px;
}

.slick-prev:before,
.slick-next:before {
  color: $front-secondary-color !important;
  line-height: 0;
  font-size: 50px;
  z-index: 189;
}

.slick-list {
  border-radius: 20px;
}